MESSAGES_PORT=3003
AUTH_TCP_HOST=auth
AUTH_TCP_PORT=3100

# MySql *******
MYSQL_HOST=mysql
MYSQL_PORT=3306
MYSQL_USER=nest_user
MYSQL_PASSWORD=nest_user_password
MYSQL_DATABASE=nest_chat
MYSQL_LOGGING=false
MYSQL_SYNCHRONIZE=false
MYSQL_DROP_SCHEMA=false

# Pagination *******
MESSAGES_PAGE_SIZE=50
MESSAGES_MAX_PAGE_SIZE=200
